In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.text import Tokenizer 
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [2]:
df= pd.read_csv("Corona_NLP_train.csv", encoding= "latin-1")

In [3]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [4]:
df.shape

(41157, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       41157 non-null  int64
 1   ScreenName     41157 non-null  int64
 2   Location       32567 non-null  object
 3   TweetAt        41157 non-null  object
 4   OriginalTweet  41157 non-null  object
 5   Sentiment      41157 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB

In [6]:
df.isnull().sum()

UserName            0
ScreenName          0
Location         8590
TweetAt             0
OriginalTweet       0
Sentiment           0
dtype: int64

In [7]:
cleaned_df= df.dropna(axis=1)

In [8]:
df.isnull().sum()

UserName            0
ScreenName          0
Location         8590
TweetAt             0
OriginalTweet       0
Sentiment           0
dtype: int64

In [9]:
cleaned_df.duplicated().sum()

0

In [10]:
cleaned_df.columns

Index(['UserName', 'ScreenName', 'TweetAt', 'OriginalTweet', 'Sentiment'], dtype='object')

In [11]:
cleaned_df.head()

,UserName,ScreenName,TweetAt,OriginalTweet,Sentiment
0,3799,48751,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [12]:
cleaned_df["Sentiment"].unique()

array(['Neutral', 'Positive', 'Extremely Negative', 'Negative',
       'Extremely Positive'], dtype=object)

In [13]:
cleaned_df["Sentiment"].value_counts()

Sentiment
Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: count, dtype: int64

In [14]:
cleaned_df.head(40)

,UserName,ScreenName,TweetAt,OriginalTweet,Sentiment
0,3799,48751,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
5,3804,48756,16-03-2020,As news of the regionÂs first confirmed COVID...,Positive
6,3805,48757,16-03-2020,Cashier at grocery store was sharing his insig...,Positive
7,3806,48758,16-03-2020,Was at the supermarket today. Didn't buy toile...,Neutral
8,3807,48759,16-03-2020,Due to COVID-19 our retail store and classroom...,Positive
9,3808,48760,16-03-2020,"For corona prevention,we should stop to buy th...",Negative
10,3809,48761,16-03-2020,All month there hasn't been crowding in the su...,Neutral
11,3810,48762,16-03-2020,"Due to the Covid-19 situation, we have increas...",Extremely Positive
12,3811,48763,16-03-2020,#horningsea is a caring community. LetÂs ALL ...,Extremely Positive
13,3812,48764,16-03-2020,"Me: I don't need to stock up on food, I'll jus...",Positive
14,3813,48765,16-03-2020,ADARA Releases COVID-19 Resource Center for Tr...,Positive
15,3814,48766,16-03-2020,Lines at the grocery store have been unpredict...,Positive
16,3815,48767,16-03-2020,????? ????? ????? ????? ??\r\r\n?????? ????? ?...,Neutral
17,3816,48768,16-03-2020,@eyeonthearctic 16MAR20 Russia consumer survei...,Neutral
18,3817,48769,16-03-2020,"Amazon Glitch Stymies Whole Foods, Fresh Groce...",Extremely Positive
19,3818,48770,16-03-2020,"For those who aren't struggling, please consid...",Positive
20,3819,48771,16-03-2020,with 100 nations inficted with covid 19 th...,Extremely Negative
21,3820,48772,16-03-2020,https://t.co/AVKrR9syff\r\r\n\r\r\nThe COVID-1...,Neutral
22,3821,48773,16-03-2020,We have AMAZING CHEAP DEALS! FOR THE #COVID201...,Extremely Positive
23,3822,48774,16-03-2020,We have AMAZING CHEAP DEALS! FOR THE #COVID201...,Extremely Positive
24,3823,48775,16-03-2020,@10DowningStreet @grantshapps what is being do...,Negative
25,3824,48776,16-03-2020,UK #consumer poll indicates the majority expec...,Extremely Positive
26,3825,48777,16-03-2020,In preparation for higher demand and a potenti...,Negative
27,3826,48778,16-03-2020,This morning I tested positive for Covid 19. I...,Extremely Negative
28,3827,48779,16-03-2020,Do you see malicious price increases in NYC? T...,Negative
29,3828,48780,16-03-2020,@7SealsOfTheEnd Soon with dwindling supplies u...,Extremely Negative
30,3829,48781,16-03-2020,There Is of in the Country The more empty she...,Negative
31,3830,48782,16-03-2020,'Hole' Foods...\r\r\n\r\r\n...images from the ...,Extremely Positive
32,3831,48783,16-03-2020,Retail store closures could explode because of...,Neutral
33,3832,48784,16-03-2020,Coronavirus fun fact: if you cough at the groc...,Extremely Positive
34,3833,48785,16-03-2020,We're sorry to say that our @FinFabUK event is...,Negative
35,3834,48786,16-03-2020,Went to the supermarket yesterday and the toil...,Neutral
36,3835,48787,16-03-2020,"Yes, buy only what you need.\r\r\n\r\r\nBut wh...",Positive
37,3836,48788,16-03-2020,Worried about the impact of the current COVID-...,Positive
38,3837,48789,16-03-2020,my wife works retail&amp;a customer came in ye...,Negative
39,3838,48790,16-03-2020,Now I can go to the supermarket like this with...,Positive

In [15]:
cleaned_df["Sentiment"]= cleaned_df["Sentiment"].replace({
    "Extremely Positive": "Positive",
    "Extremely Negative": "Negative"    
})

C:\Users\HP\AppData\Local\Temp\ipykernel_2424\1205389596.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["Sentiment"]= cleaned_df["Sentiment"].replace({

In [16]:
cleaned_df["Sentiment"].unique()

array(['Neutral', 'Positive', 'Negative'], dtype=object)

In [17]:
cleaned_df["Sentiment"].value_counts()

Sentiment
Positive    18046
Negative    15398
Neutral      7713
Name: count, dtype: int64

In [18]:
#Preprocessing

import re

def clean_tweet(text):
    text= text.lower()
    text = re.sub(r'http\S+', '', text)  # Remove URLs
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove punctuation
    text = re.sub(r'\s+', ' ', text).strip()  # Remove extra spaces

    return text

In [19]:
cleaned_df["OriginalTweet"]= cleaned_df["OriginalTweet"].apply(clean_tweet)

C:\Users\HP\AppData\Local\Temp\ipykernel_2424\857100813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["OriginalTweet"]= cleaned_df["OriginalTweet"].apply(clean_tweet)

In [20]:
cleaned_df.head()

,UserName,ScreenName,TweetAt,OriginalTweet,Sentiment
0,3799,48751,16-03-2020,menyrbie philgahan chrisitv and and,Neutral
1,3800,48752,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,16-03-2020,coronavirus australia woolworths to give elder...,Positive
3,3802,48754,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,16-03-2020,me ready to go at supermarket during the covid...,Negative

In [21]:
#Label Encoding

le= LabelEncoder()
cleaned_df["Sentiment"]= le.fit_transform(cleaned_df["Sentiment"])

C:\Users\HP\AppData\Local\Temp\ipykernel_2424\1889702726.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["Sentiment"]= le.fit_transform(cleaned_df["Sentiment"])

In [22]:
cleaned_df.head()

,UserName,ScreenName,TweetAt,OriginalTweet,Sentiment
0,3799,48751,16-03-2020,menyrbie philgahan chrisitv and and,1
1,3800,48752,16-03-2020,advice talk to your neighbours family to excha...,2
2,3801,48753,16-03-2020,coronavirus australia woolworths to give elder...,2
3,3802,48754,16-03-2020,my food stock is not the only one which is emp...,2
4,3803,48755,16-03-2020,me ready to go at supermarket during the covid...,0

In [23]:
#Splitting

X= cleaned_df["OriginalTweet"].values
y= cleaned_df["Sentiment"].values

In [24]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
#Tokenization
tokenizer= Tokenizer(num_words=10000, oov_token="<OOV>") 
tokenizer.fit_on_texts(X_train) ##{'<OOV>': 1, 'tweet': 2, 'beautiful': 3, 'programming'}

X_train_sequences= tokenizer.texts_to_sequences(X_train) #[[12,3,3], [1,25,5]]
X_test_sequences= tokenizer.texts_to_sequences(X_test)

In [26]:
X_train_sequences[0]

[915,
 1357,
 309,
 51,
 8,
 3655,
 16,
 160,
 895,
 1492,
 4,
 2,
 1249,
 12,
 85,
 3,
 59,
 2847]

In [27]:
len(X_train_sequences[0])

18

In [28]:
#padding
max_length= 100
X_train_padded= pad_sequences(X_train_sequences, maxlen= max_length, padding="post")
X_test_padded= pad_sequences(X_test_sequences, maxlen=max_length, padding="post")

In [29]:
X_train_padded[0]

array([ 915, 1357,  309,   51,    8, 3655,   16,  160,  895, 1492,    4,
          2, 1249,   12,   85,    3,   59, 2847,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0])

In [30]:
len(X_train_padded[0])

100

In [31]:
#Building ANN Model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Dense, Dropout, Flatten

In [40]:
model= Sequential()
#input_dim=10000: Size of the vocabulary ... 10,000 words.
#output_dim=128: Dimensionality of the dense embedding vectors.
#input_length=max_length=100: Length of the input sequences

model.add(Embedding(input_dim=10000, output_dim=128, input_length= max_length))

#Converts the 2D output of the embedding layer (sequence length x embedding size) into a 1D vector
model.add(Flatten())

model.add(Dense(128, activation="relu"))

#Regularizes the model to prevent overfitting
model.add(Dropout(0.5))

model.add(Dense(64, activation="relu"))
model.add(Dense(3, activation="softmax"))

C:\Users\HP\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\embedding.py:90: UserWarning: Argument `input_length` is deprecated. Just remove it.
  warnings.warn(

In [41]:
model.compile(loss= "sparse_categorical_crossentropy",
              optimizer= "adam",
              metrics= ["accuracy"]
              )

In [49]:
model.build(input_shape=(None, max_length))  # None for batch size, max_length for sequence length
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ embedding_2 (Embedding)         │ (None, 100, 128)       │     1,280,000 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ flatten_2 (Flatten)             │ (None, 12800)          │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 128)            │     1,638,528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_2 (Dropout)             │ (None, 128)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 3)              │           195 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 8,780,939 (33.50 MB)

 Trainable params: 2,926,979 (11.17 MB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 5,853,960 (22.33 MB)

In [44]:
#training the model

model.fit(X_train_padded,
          y_train,
          epochs= 5,
          validation_data= (X_test_padded, y_test),
          batch_size= 32
          )

Epoch 1/5
1029/1029 ━━━━━━━━━━━━━━━━━━━━ 57s 56ms/step - accuracy: 0.9887 - loss: 0.0384 - val_accuracy: 0.7553 - val_loss: 1.2508
Epoch 2/5
1029/1029 ━━━━━━━━━━━━━━━━━━━━ 88s 61ms/step - accuracy: 0.9918 - loss: 0.0272 - val_accuracy: 0.7543 - val_loss: 1.2389
Epoch 3/5
1029/1029 ━━━━━━━━━━━━━━━━━━━━ 66s 45ms/step - accuracy: 0.9928 - loss: 0.0210 - val_accuracy: 0.7589 - val_loss: 1.2831
Epoch 4/5
1029/1029 ━━━━━━━━━━━━━━━━━━━━ 59s 57ms/step - accuracy: 0.9927 - loss: 0.0222 - val_accuracy: 0.7569 - val_loss: 1.3166
Epoch 5/5
1029/1029 ━━━━━━━━━━━━━━━━━━━━ 79s 54ms/step - accuracy: 0.9940 - loss: 0.0173 - val_accuracy: 0.7541 - val_loss: 1.5300

In [45]:
loss, accuracy= model.evaluate(X_test_padded, y_test)
print(f"Total Loss: {loss}")
print(f"Test Accuracy: {accuracy}")

258/258 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.7513 - loss: 1.5633
Total Loss: 1.5299514532089233
Test Accuracy: 0.7541302442550659